<div>
  <img id="Wallpaper" src="https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg?w=1380&t=st=1660602835~exp=1660603435~hmac=103ea118cef1435265c0d8f1542f6f5e290d37aa412e1e0154c44da2ebadba5d" >
  <div class="HeaderContainer">
    <h1>Bem-vindo ao InterfaceMusical</h1>
    <h3>O melhor Site Músical do Mundo</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quos dolorem nulla quam hic porro ipsa illo quasi doloribus tempora, sapiente fuga dolores architecto nobis numquam quisquam explicabo iusto natus ex. Magnam enim sequi velit. Architecto optio commodi consectetur quos autem necessitatibus suscipit enim quo vitae impedit? Ullam ad nemo distinctio est veritatis ipsam iure cupiditate, voluptatibus dolores voluptatem rem deleniti, natus nostrum, repellendus consequuntur. Earum sunt eveniet quos, ipsam, ipsa assumenda dolore distinctio doloribus molestias ullam reiciendis est adipisci consequatur, possimus voluptatem vero aperiam ad quod maiores animi sed perferendis quis! Sed, maxime harum mollitia illo eligendi consequuntur sequi.</p>
    <a href="https://github.com/Juliano-silva" target="_blank">Outros sites feito pela JSA</a>
  </div>
</div>
