<div class="Portfolio">
    <div class="Perfil"></div>
    <div class="ph1">
    <h1>Juliano Almeida</h1>
    <p>Estudante de tecnologia com foco em desenvolvimento de software, busco me inserir no mercado e desenvolver as habilidades necessárias pra me tornar melhor
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit in, incidunt delectus, doloribus quam illum consequuntur ipsum inventore consequatur sed architecto sint eaque dolorum eum magnam laborum labore nemo ratione?
    </p>
    </div>

</div>
